.spinner {
  background-color: rgba(24, 28, 32, 0.863);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.spinner div,
.spinner span {
  color: rgb(49, 179, 70);
}
